body {
  text-align: center;
  background-color: rgb(233, 215, 207);
}

h1 {
  font-family: "oswald", sans-serif;
  color: rgb(83, 75, 75);
}
p {
  font-family: "Fira sans", sans-serif;
  color: rgb(83, 75, 75);
  font-size: 24px;
}
a {
  color: rgb(167, 1, 78);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
